<div class="nav-b">
</div>

<div class="kado-slider">
    <h1>{{@blog.title}}</h1>
    <h2 class="subheader">{{@blog.description}}</h2>
</div>

{{#foreach navigation}}
    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
{{/foreach}}
